/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

html, body {
  height: 100%;
  margin: 0;
  background-color: #080c12; /* Fallback dark mode background */
  color: #e6edf3;
}